body {
    background-color: #628186;
    -webkit-animation: fadein 1.3s;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	margin: 0px;
	padding: 0px;
}

.header {
	background: #4B6C71;
	position: fixed;
	top: 0;
	width: 100%;
	overflow: hidden;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	z-index: 10;
}

.header a {
	color: white;
	float: left;
	font-size: 16px;
	padding: 14px 12px;
}

.header a.link {
	line-height: 1.8;
}

.header a.link:hover {
	background-color: #04ABBB;
}

.header .title {
	font-weight: bold;
	font-size : 24px;
	color: black;
}

.main-body {
	padding-top: 3%;
}

span.top, span.bottom {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 99vw;
}

span.top div, span.bottom div {
	display:flex;
	flex-direction: column;
	font-size: 28px;
	text-align: center;
	font-weight: bold;
	position: relative;
	padding: 10px 2%;

}

span.top div textarea.input, span.bottom div textarea {
	width: 45vw;
	height: 180px;
	font-size: 14px;
	font-family: 'Roboto', Arial, sans-serif;
	resize: none;
}

button {
    background-color: #4CAF50;
	border: none;
    color: white;
	text-align: center;
	height: 30px;
    font-size: 16px;
	cursor: pointer;
	margin: 5px 120px;
}

hr {
	color: gray;
	height: 1px;
	border-width: 1px;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}