body {
    background: #628186;
    margin: 0px;
}

p.warning-underconstruction {
    font-size: 3em;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    text-shadow: 2px 1px 0px lightcoral;
}

div.navigator {
    display: block;
    background: #4B6C71;
    width: 100%;
    padding: 2vh 0px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

div.navigator div.header-image img {
    height: 120px;
    margin: -2vh 5px -5vh;
}