body {
    background-color: #628186;
    -webkit-animation: fadein 1.3s;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	margin: 0px;
	padding: 0px;
}

.header {
	background: #4B6C71;
	position: fixed;
	top: 0;
	width: 100%;
	overflow: hidden;
}

.header a {
	color: white;
	float: left;
	font-size: 16px;
	padding: 14px 12px;
}

.header a.link {
	line-height: 1.8;
}

.header a.link:hover {
	background-color: #04ABBB;
}

.header .title {
	font-weight: bold;
	font-size : 24px;
	color: black;
}

.main-body {
	padding-top: 1%;
}

textarea {
    width: 85%;
    height: 150px;
	padding-bottom: 2%;
    box-sizing: border-box;
    border: 4px solid #36484a;
    border-radius: 3px;
    background-color: #f8f8f8;
    resize: none;
	background-color: #b5c7c9;
}

.big {
	font-size: 48px;
	font-weight: bolder;
}

.small {
	font-size: 16px;
}

.smaller {
	font-size: 12px;
}

button {
    background-color: #4CAF50;
    border: 2px solid #2C6D2E;
    color: white;
    padding: 7px 45px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 0 2px;
    cursor: pointer;
}

.gray {
	color: #d3d3d3;
}

.white-smaller {
	color: white;
	font-size: 12px;
}

img {
	width: 24px;
	height: 24px;
}

.footer {
	position: fixed;
	bottom: 0;
	width: 99%;
	padding: 5px;
}

.footer div.smaller-left {
	float: left;
}

.footer div.smaller-right {
	float: right;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}