body {
    background: #628186;
    margin: 0px;
    font-family: 'Roboto', Arial, sans-serif;
    color: whitesmoke;
    font-size: 17px;
    text-shadow: 1px 0px 0px black;
}

p.warning-underconstruction {
    font-size: 51px;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    text-shadow: 3px 0px 1px black, 4px 1px 2px red;
}

div.navigator {
    position: fixed;
    top: 0;
    display: inline-block;
    background: #4B6C71;
    width: 100%;
    height: 45;
    padding-bottom: 19;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 10;
}

div.navigator div.header-image img {
    height: 120;
}

div.navigator div.header-image-home img {
    height: 60;
    padding: 5 0 0 20;
    margin-bottom: 60;
}

div.navigator span.links {
    display: flex;
    justify-content: left;
    position: relative;
    top: -100px;
    margin: 0px 341px -80px;
    width: 50%
}

div.navigator span.links a {
    font-size: 34px;
    text-decoration: none;
    height: 45;
    padding: -90px 10px 0px;
    margin-right: 80px;
}

a:link { color: #e6e6fa; }
a:visited { color: #e6e6fa; }
a:hover { animation: nav-link-hover 4s linear 0s infinite alternate-reverse; }

img.icon {
    width: 32;
    height: inherit;
}

div.body {
    margin: 1vh 8vw;
    padding: 20px 10px 0px;
}

div.body div.body-image-logo img {
    height: 240;
    margin-bottom: 20px;
}

div.contact p {
    font-weight: 300;
}

@keyframes nav-link-hover {
    0% { color: #6a00fc; }
    25% { color: #ff0e93; }
    50% { color: #ffa10c; }
    75% { color: #ff4360; }
    100% { color: #FFF0F5; }
}