table {
    margin: 20 0;
    width: 100%;
    table-layout: fixed;
}

th {
    background: rgb(76, 69, 173);
    font-weight: 500;
    padding: 10;
}

td {
    background: rgb(81, 123, 181);
    font-weight: 400;
    padding: 10;
    text-align: center;
}

tr:nth-child(odd) td {
    background: rgb(72, 112, 167);
}